/* -------- SHOP---------- */
#flaske {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  margin: 2rem;
}

element.style {
  color: #dc7436;
}

element.style:hover {
  text-decoration: underline;
}

#test1 {
  border: solid;
  border-width: 1px;
  border-color: #adb9ae;
  padding: 1rem;
}

.vis_ikke {
  display: none;
}

/* #forside_styling #secondary {
  display: none;
}

#forside_styling #primary {
  width: 100%;
} */

/* -----------skal ske med media------------
#shop_main {
  display: flex;
>>>>>>> andrea
}

/* ---- Mobil filter design ------ */



#den_skal_være_i_midten {
  display: flex;

  justify-content: center;
}

/* ----------------- RETTELESER DER ER SKET I WP----------- */
/* #forside_styling #secondary {
  display: none;
}

#forside_styling #primary {
  width: 100%;
} */

/* .ast-container,
.ast-container-fluid {
  padding-left: 0%;
  padding-right: 0%;
}

.ast-separate-container .ast-article-post,
.ast-separate-container .ast-article-single {
  padding: 0%;
} */
