#flaske {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 2rem;
}

element.style {
  color: #dc7436;
}

element.style:hover {
  text-decoration: underline;
}

#test1 {
  border: solid;
  border-width: 1px;
  border-color: #adb9ae;
  padding: 1rem;
}

/* -----------skal ske med media------------
#shop_main {
  display: flex;
}

#filter {
  display: grid;
} */

.post-thumb-img-content {
}
